<div class="container-fluid d-flex justify-content-center" style="background-color: rgb(144, 172, 197);height: 750px;padding:7% 15%;">
    <div class=" col-5 center-block" style="margin: 10% 0%;">
        <h1>Admin area demo</h1>
        <h3>Welcome, please sign in!</h3>
        <br/>
        <hr style="width:100%">
        <p style="margin-bottom: 0px;">Admin email: admin@yourstore.com</p>
        <p>Admin password: admin</p>
    </div>
    <div class="col-5">
        <div class="card text-center h-80">
            <div class="card-header " style="font-size: 32px;">
                Sign In
            </div>
            <div class="card-body ">
                <br/>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/home']">LOG IN</button>
            </div>
        </div>
    </div>
</div>